.productimg {
    width: 50px;
    height: 50px;
}

.divinfo {
    margin: auto;
    box-sizing: border-box;
    width: 380px;
    // height: 510px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 20px 30px 0 rgba(63,63,65,.06);
    border-radius: 10px;
}

button {
    float: right;
    margin-top: 8px;
}

app-order-delivery-panel {
    margin-top: 8px;
}
